<!-- This is the footer include file. -->
<!-- start footer include -->
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-4 col-12-medium">
                <section>
                    <ul class="social">
                        <li><a class="icon brands fa-facebook-f" href="#"><span
                                class="label">Facebook</span></a></li>
                        <li><a class="icon brands fa-twitter" href="#"><span class="label">Twitter</span></a>
                        </li>
                        <li><a class="icon brands fa-dribbble" href="#"><span class="label">Dribbble</span></a>
                        </li>
                        <li><a class="icon brands fa-tumblr" href="#"><span class="label">Tumblr</span></a></li>
                        <li><a class="icon brands fa-linkedin-in" href="#"><span
                                class="label">LinkedIn</span></a></li>
                    </ul>
                </section>
            </div>
            <div class="col-12">

                <!-- Copyright -->
                <div id="copyright">
                    <ul class="links">
                        <li>&copy; TODO Site Owner. All rights reserved.</li>
                        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/jquery.dropotron.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/browser.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/breakpoints.min.js"></script>
    <script src="{{site.baseurl}}/assets/js/util.js"></script>
    <script src="{{site.baseurl}}/assets/js/main.js"></script>
</section>
<!-- end footer include -->
