<!-- start header include -->
<section id="header">

    <!-- Logo -->
    <h1><a href="home.html">TODO Site Name</a></h1>

    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li><a href="{{site.baseurl}}/">Home</a></li>
            <li><a href="{{site.baseurl}}/blog/">Blog</a></li>
            <li><a href="{{site.baseurl}}/projects/">Projects</a></li>
            <li><a href="{{site.baseurl}}/about/">About Me</a></li>
        </ul>
    </nav>
</section>
<!-- end header include -->
<!-- This is the header include file. -->